<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->

<%- include('../partials/head') %> 

<body class="carga">
   <!--  HEADER -->

   <%- include('../partials/header') %> 

   <main >
    <h2>CARGA DE PRODUCTO</h2>

    <form class="form" action="/admin/" method="POST" enctype="multipart/form-data">

        <label for="nombre">Nombre del Producto</label>
          <input type="text" name="nombre" placeholder="nombre del producto" id="nombre" value=<%= locals.old && old.nombre ? old.nombre : null %>>
          <% if(locals.errors && errors.nombre){ %>
            <small> <%= errors.nombre.msg %> </small>
          <% } %> 

          <label for="precio">Precio del Producto</label>
          <input type="number" name="precio" placeholder="precio del producto" id="precio" value=<%= locals.old && old.precio ? old.precio : null %>>
          <% if(locals.errors && errors.precio){ %>
            <small> <%= errors.precio.msg %> </small>
          <% } %> 

          <label for="descripcion">Descripción del Producto</label>
          <input type="text" name="descripcion" placeholder="descripcion del producto" id="descripcion" value=<%= locals.old && old.descripcion ? old.descripcion : null %>>
          <% if(locals.errors && errors.descripcion){ %>
            <small> <%= errors.descripcion.msg %> </small>
          <% } %> 


          <label for="categoria">Categoria del Producto</label>
          
          <select name="categoria"  id="categoria">

            <% categorias.map(categoria => { %>

              <option value="<%= categoria.id %>" ><%= categoria.name %></option>
              
            <%}) %> 

          </select>
          <% if(locals.errors && errors.categoria){ %>
            <small> <%= errors.categoria.msg %> </small>
          <% } %>

          <label for="color">Color del Producto</label>
         
          <select name="color" id="color"%> ">
            <% colores.map(color => { %>

              <option value="<%= color.id %> "><%= color.name %> </option>

            <%}) %> 
          </select>
          <% if(locals.errors && errors.color){ %>
            <small> <%= errors.color.msg %> </small>
          <% } %>


          <label for="image">suba una imagen</label>
          <input type="file" name="image" id="image" >

          <button type="submit" >CARGAR </button>
          
    </form>
    <form class="cancel" action="/admin">
        <button type="submit">CANCELAR </button></form>
    
   </main>

   
</body>
</html>