<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('../partials/head') %> 
<body class="detalleAdm">
    <!-- HEADER -->
    <%- include('../partials/header') %> 
    <main>
        <div class="color"></div>
            <section class="principio">
                            
                            <article class="producto">
                                <img src="/images/productos/<%= imagen.name %>" alt="">
                                <div class="fotos">
                                    <span>1/1</span>
                                 </div> 
                                 <i class="fas fa-search-plus"></i>
                            </article>
                            <article class="cont-right">
                                <div class="descripcion">
                                    <h1>Nombre del Producto: <%= producto.name %> </h1>
                                    <h4> Descripcion: <%= producto.description%> </h4>                                    
                                    <p>Precio: <%= producto.price  %> </p>
                                </div>                                                
                        <div class="comprar">               
                                
                                <div class="cantidadd">
                                    <label for="cantidad">Cantidad</label>
                                    
                                    <input type="number" id="cantidad" value="1">
                                </div>

                                <div class="editar">
                                    <a href="/admin/edit/<%= producto.id %>">Editar Producto<i class="far fa-edit"></i></a>                                                                         
                                </div>                                                            
                        </div>
                        <div class="trash">     
                            <form action="/admin/delete/<%= producto.id %>?_method=DELETE" method="POST">
                                <button type="submit" >Eliminar<i class="far fa-trash-alt"></i></button>
                            </form>                                        
                                                                              
                            </div>                    
                    </article>                    
                    <article class="pedidos">
                        <div >                                 
                                <h3><%=producto.related %></h3>

                                                                                                                    
                            </div>
                    </article>
                    
            </section>            
        </main>
        <script src="/javascripts/detalle.js"></script>

   </body>
</html>