<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('../partials/head') %> 
<body class="detalleAdm">
    <!-- HEADER -->
    <%- include('../partials/header') %> 
    <main>
        <div class="color"></div>
            <section class="principio">
                            
                            <article class="producto">
                                <img src="/images/productos/<%= producto.imagen %>" alt="">
                                <div class="fotos">
                                    <span>1/1</span>
                                 </div> 
                                 <i class="fas fa-search-plus"></i>
                            </article>
                            <article class="cont-right">
                                <div class="descripcion">
                                    <h4> <%= producto.descripcion %> </h4>
                                    <p> <%= producto.precio  %> </p>
                                </div>                                                
                        <div class="comprar">               
                                
                                <div class="cantidadd">
                                    <label for="cantidad">Cantidad</label>
                                    
                                    <input type="number" id="cantidad" value="1">
                                </div>

                                <div class="editar">
                                    <a href="/admin/edit/<%= producto.id %>">Editar Producto<i class="far fa-edit"></i></a>                                                                         
                                </div>                                                            
                        </div>
                        <div class="trash">     
                            <form class="form" action="/admin/delete/<%= producto.id %>?_method=DELETE" method="POST">
                                <button type="submit" ><i class="far fa-trash-alt"></i></button>
                            </form>                                        
                                                                              
                            </div>                    
                    </article>                    
                    <article class="pedidos">
                        <div >
                            <% if(producto.categoria === "Espejos") { %>                                 
                                <h3><%=producto.relacionado %></h3>

                                <% }else if(producto.categoria === "Soportes") { %> 
                                    <h3><%=producto.relacionado %></h3>

                                <% }else if(producto.categoria === "posa Vasos") { %>    
                                    <h3><%=producto.relacionado %></h3>

                                <% }else if(producto.categoria === "Lamparas") { %>
                                    <h3><%=producto.relacionado %></h3>
                                    
                                <% }else if(producto.categoria === "posa pava") { %>    
                                    <h3><%=producto.relacionado %></h3>
    
                                <% }else if(producto.categoria === "porta rollos") { %>    
                                    <h3><%=producto.relacionado %></h3>
                                    
                                <% }else if(producto.categoria === "numeracion para casas") { %>    
                                    <h3><%=producto.relacionado %></h3>
    
                                <% }else if(producto.categoria === "cuñetes de carton") { %>    
                                    <h3><%=producto.relacionado %></h3>
    
                                <% }else if(producto.categoria === "Wiphalas en red") { %>    
                                    <h3><%=producto.relacionado %></h3>

                                <% }else if(producto.categoria === "espejo sol") { %>    
                                    <h3><%=producto.relacionado %></h3>

                                <% }else { %>                                                                
                                    <h3>Diseños personalizados para vos, ¡no dudes en consultarnos!</h3>
                                    <% } %>                                                                                           
                            </div>
                    </article>
                    
            </section>            
        </main>

   </body>
</html>