<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->

<%- include('../partials/head') %> 

<body class="edit">
   <!--  HEADER -->

   <%- include('../partials/header') %> 

   <main >
    <h2>EDITAR PRODUCTO</h2>

    <form class="form" action="/admin/edit/<%= productEdit.id %>?_method=PUT" method="POST">

        <label for="nombre">Nombre del Producto</label>
          <input type="text" name="nombre" value="<%= productEdit.nombre %>" id="nombre" required>

          <label for="precio">Precio del Producto</label>
          <input type="number" name="precio" value="<%= productEdit.precio %>"  id="precio" required>

          <label for="descripcion">Descripción del Producto</label>
          <input type="text" name="descripcion"value="<%= productEdit.descripcion %>" id="descripcion" required>

          <label for="">suba una imagen</label>
          <input type="file" name="imagen" value="<%= productEdit.imagen%>">

          <button type="submit" >EDITAR </button>
          
    </form>
    <form class="cancel" action="/admin">
        <button type="submit">CANCELAR </button></form>
    
   </main>

   
</body>
</html>