<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('./partials/head') %>


<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>


    <main class="home">
        <div class="carrousel">
            <div class="flechal">
                <i class="fas fa-angle-left"></i>
            </div>
            
                <img class="c1" src="../images/carrousel/relojC.png" alt="">
            
                <img class="c2" src="../images/carrousel/lamparaC.png" alt="">
            
                <img class="c3" src="../images/carrousel/portaVelaC.png" alt="">
            
            <div class="flechar">
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
        <section>

            <% for (let i = 0; i < productos.length; i++) { %>
                <article>
                    <a href="/product/detalle/<%= productos[i].id %>">
                    <div class="imagen">
                        <img src="../images/productos/<%= productos[i].imagen[0].name %>" alt="">
                    </div>
                    <div class="art2">
                        <p class="descripcion">
                            <%= productos[i].name %>
                        </p>
                        <p class="precio">
                            <%= productos[i].price %>
                        </p>
                        <div class="icons2">
                            <form action="#" method="POST">
                                <button type="submit"><i class="fas fa-shopping-cart"></i></button>
                            </form>
                        </div>
                    </div>
                </a>
                </article>
        
                <% } %> 

        </section>

        <div class="top">
            <a href="#"><i class="fas fa-chevron-circle-up"></i></a>
        </div>

    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer') %>

</body>
</html>