<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('./partials/head')  %>

<body>
  <!-- HEADER -->
<%- include('./partials/header')  %>

<main class="perfil">

  <section>

    <div class="imgperfil">
      <img src="/images/usuarios/<%= user.image %>" alt="Avatar Personal" />
    </div>

    <ul class="perfilul">
      <li>
        <p><b>Nombre:</b> <%= user.name %></p>
        <p><b>Nombre de Usuario:</b> <%= user.username %></p>
        <p><b>Email:</b> <%= user.email%></p>
        <p><b>Rol:</b> <%= user.rol%></p>
        <p><b>Fecha de nacimiento:</b> <%= user.fecha%></p>
      </li>
    </ul>

  </section>

</main>

<!-- FOOTER -->
<%- include('./partials/footer')  %> 
</body>
</html>