<!DOCTYPE html>
<html lang="es">

<!-- HEAD -->
<%- include('./partials/head') %>

<body>

     <!-- HEADER -->
     <%- include('./partials/header') %>

    <main class="carritoDeProducto">

        <section>               
               <article>
                    <div class="article1">
                         <img src="/images/productos/<%= producto.imagen %>" alt="imagen de producto">
                         <p class="producto"> <%= producto.descripcion %> </p>
                    </div>
                    <div class="article2">
                         <i class="fas fa-trash"></i>
                         <p class="precio"> <%= producto.precio%> </p>
                    </div>
               </article>                             
             <button><p class="resultadofinal">TOTAL A PAGAR: <%= producto.precio%></p></button>
        </section>
</main>

     <!-- FOOTER -->
      <%- include('./partials/footer') %>

     </body>

</html>