<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('./partials/head') %>

<body>
     <!-- HEADER -->
     <%- include('./partials/header') %>
    <main>
        <div class="color"></div>
            <section class="principio">
                            
                            <article class="producto">
                                <% producto.imagen.forEach(element => { %>
                                                                    
                                <img src="/images/productos/<%= element.name %>" alt="">
                                <% }) %> 
                                <div class="fotos">
                                    <span>1/1</span>
                                 </div> 
                                 <i class="fas fa-search-plus"></i>
                            </article>
                            <article class="cont-right">
                                <div class="descripcion">
                                    <h2 class="nombredeproducto"><%= producto.name %></h2>
                                    <h4> <%= producto.description %> </h4>
                                    <p> $<%= producto.price  %> </p>
                                </div>                                                
                        <div class="comprar">                
                            <form action="">
                                
                                <div class="cantidadd">
                                    <label for="cantidad">Cantidad</label>
                                    
                                    <input type="number" id="cantidad" value="1">
                                </div>                                
                                <div class="agregar">
                                    <i class="fas fa-shopping-cart"></i>
                                    <input type="submit" value="Agregar al carrito">
                                </div>
                            </form>
                        </div>
                        <div class="favoritos">
                                <form  action="">                    
                                        <i class="fas fa-heart"></i>
                                        <input type="submit" value="Agregar a favoritos">                                       
                                </form>
                            </div>                    
                    </article>                    
                    <article class="pedidos">
                        <div >                                                           
                                <h3><%=producto.related %></h3>                                                                                          
                            </div>
                    </article>
                    
            </section>            
        </main>    
    <!-- FOOTER -->
    <%- include('./partials/footer') %>
    </body>
</html>